.mobile-app {
  padding-bottom: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 144px;
    margin-top: 48px;
  }

  &__content {
    max-width: 600px;
  }

  &__text {
    color: #CACACA;
    line-height: 24px;
  }

  &__btn {
    margin-top: 16px;
    display: inline-block;
    background-color: #95390C;
    padding: 17px 40px;
    border-radius: 32px;
    font-size: 12px;
    line-height: 19px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 414px) {
  .mobile-app {
    &__wrapper {
      flex-direction: column-reverse;
    }
  }
}