.margin-right-16 {
  margin-right: 16px;
}

.no-margin {
  margin: 0;
}

.color-orange {
  color: $orange;
}

.color-primary {
  color: $primary-text-color;
}

.fill-white {
  fill: $primary-text-color;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.align-itm-start {
  align-items: flex-start;
}

.align-itm-center {
  align-items: center;
}

.padding-top-100 {
  padding-top: 100px;
}

.width-full {
  width: 100%;
}
