.access-form {
  max-width: 570px;
  min-width: 270px;
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(2, 1fr);

  &__input {
    color: #fff;
    font-size: 14px;
    font-family: inherit;
    padding: 16px 22px;
    border: 1px solid #CACACA;
    border-radius: 3px;
    background-color: transparent;

    &::placeholder {
      color: #fff;
    }
  }

  &__submit {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    padding: 21px;
    color: #fff;
    background-color: #34C176;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #319962;
    }
  }
}

@media (max-width: 576px) {
  .access-form {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}