.discography {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 50px;
    margin-top: 48px;
  }
}

@media (max-width: 414px) {
  .discography {

    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}