.banner {
  padding: 200px 0;
  background-image: url('../../../images/banner.png');
  background-size: cover;
  background-position: center;
  text-align: center;

  &__text {
    margin-top: 31px;
  }

  &__form {
    margin: 0 auto;
    margin-top: 17px;
  }
}