$primary-text-color: #fff !default;
$primary-back-color: #000 !default;
$base-text-color: #cacaca;
$base-back-color: #08020d;
$dark: #3c3b3d;
$gray: #e0e0e0;
$green-color: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;

$full-size: 1239px;
$large-size: 839px;
$medium-size: 649px;
$small-size: 415px;
