.menu {
  display: flex;
  align-items: center;
  color: #fff;

  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  &__link {
    padding: 5px;
    margin: 0 7px;
    color: #CACACA;
    transition: color 0.2s;

    &:hover {
      color: #fff;
    }
  }

  &__link--active {
    color: #fff;
  }

  &__list {
    display: flex;
    margin-left: 90px;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__logo-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  &__logo-text {
    margin-left: 16px;
    vertical-align: middle;
    white-space: nowrap;
  }

  &__search {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 50px;
    width: 248px;
    background-color: #3C3B3D;
    color: #CACACA;

    &::placeholder {
      font-size: 13px;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      color: #757575;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;

    &__list {
      flex-direction: column;
      margin: 0;
      margin-top: 17px;
    }

    &__link {
      padding: 0;
      margin: 0;
    }

    &__search {
      width: 100%;
      margin-top: 18px;
    }
  }
}