.popular-tracks {
  overflow: hidden;

  &__wrapper {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 49px;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  &__item:hover {
    background-color: #5328a1;
    box-shadow: 0 0 10px 10px #5328a1;
  }

  &__item-img {
    width: 55px;
    height: auto;
    margin-right: 15px;
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__item-song {
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__item-artist {
    font-size: 12px;
    line-height: 19px;
    color: #E0E0E0;
  }

  &__item-duration {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    color: #E0E0E0;
  }
}

@media (max-width: 414px) {
  .popular-tracks {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}