.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  display: flex;

  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;

  color: $primary-text-color;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
}

.header-logo-block {
  display: flex;
  align-items: center;
  margin-right: 88px;

  font-weight: 700;

  .header-logo-img {
    width: 24px;
    height: 24px;

    margin-right: 16px;
  }
}

.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
}

.header-list {
  padding-inline-start: 0;

  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;
}

.header-list-item {
  margin-top: 0;
  margin-right: 24px;
  margin-bottom: 0;

  list-style: none;

  a {
    font-weight: bold;
    text-decoration: none;
  }
}

.header-active-link {
  color: $primary-text-color;

  &:hover {
    color: $primary-text-color;
  }

  &:visited {
    color: $primary-text-color;
  }
}

.header-not-active-link {
  color: $base-text-color;

  &:hover {
    color: $base-text-color;
  }

  &:visited {
    color: $base-text-color;
  }
}

.header-find-input {
  box-sizing: border-box;
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  height: 25px;
  padding: 0 10px;

  color: #757575;
  font-family: Arial, sans-serif;

  background-color: $dark;
  border: 0;
  border-radius: 50px;
}

@media (max-width: $full-size) {
  .header {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: $large-size) {
  .header {
    flex-direction: column;

    width: 100%;
    padding: 0 20px;
  }

  .header-nav {
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-list {
    flex-direction: column;
  }

  .header-list-item {
    margin-right: 0;
    padding-bottom: 3px;
  }

  .header-logo-block {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
