.horizontal-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 23px;
}

@media (max-width: $full-size) {
  .horizontal-list {
    justify-content: space-around;
  }
}

@media (max-width: $small-size) {
  .horizontal-list {
    justify-content: flex-start;
  }
}

.horizontal-list-item {
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  margin-right: 50px;
}

.horizontal-list-adaptive-img {
  position: relative;

  width: 250px;
  height: 0;
  margin-bottom: 18px;
  padding-top: 100%;
}

.horizontal-list-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
}

@media (max-width: $medium-size) {
  .horizontal-list-item {
    width: 137px;
  }

  .horizontal-list-adaptive-img {
    width: 137px;
  }
}

.h2-base {
  width: 100%;
  margin: 0;
}
