.popular-tracks-main-title {
  text-align: start;
}

@media (max-width: $full-size) {
  .popular-tracks-main-title {
    text-align: center;
  }
}

@media (max-width: $small-size) {
  .popular-tracks-main-title {
    text-align: start;
  }
}

.popular-tracks-playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 23px;
}

@media (max-width: $full-size) {
  .popular-tracks-playlist {
    justify-content: space-around;
  }
}

@media (max-width: $small-size) {
  .popular-tracks-playlist {
    justify-content: space-between;
  }
}

.popular-tracks-item {
  display: flex;
  flex: 0 1 550px;
  align-items: center;
  justify-content: space-between;
  max-width: 550px;

  margin-top: 25px;
  margin-right: 50px;
}

@media (max-width: $large-size) {
  .popular-tracks-item {
    margin-right: 0;
  }
}

.popular-tracks-item-img {
  width: 55px;
  height: 55px;

  margin-right: 15px;
}

.popular-tracks-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-tracks-item-head {
  display: flex;
}
