.artist-card {
  text-align: center;
  cursor: pointer;

  &__img {
    width: 100%;
  }

  &__artist {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 17px;
  }

  &__followers {
    line-height: 24px;
  }
}