@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-weight: normal;
  font-family: "Arial";
  src: url("../fonts/Arial/arial.ttf");
}
h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}

.h3-capitalize {
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
  text-transform: capitalize;
}

.h3-capitalize-bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.h4-capitalize-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
}

.text-size-7 {
  font-weight: normal;
  font-size: 64px;
  line-height: 150%;
}

.text-size-6 {
  font-weight: normal;
  font-size: 56px;
  line-height: 150%;
}

.text-size-5 {
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
}

.text-size-4 {
  font-weight: normal;
  font-size: 40px;
  line-height: 150%;
}

.text-size-3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}

.text-size-2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.text-size-1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.text-small, .simular-artists-fans, .btn-intro p {
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
}

.popular-track-small-bold {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (max-width: 649px) {
  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }

  h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }
}
body {
  margin: 0;
  padding: 0;
  color: #cacaca;
  font-weight: normal;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 150%;
  background-color: #08020d;
}

.document-width, .footer-nav {
  box-sizing: border-box;
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1239px) {
  .document-width, .footer-nav {
    width: 100%;
    margin: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.btn {
  width: 100%;
  padding: 21px 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  font-size: 13.3px;
  line-height: 15px;
  background-color: #34c176;
  border: 0;
}

.btn-white-n-alpha, .btn-white-n-alpha-small {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #cacaca;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
}

.btn-white-n-alpha-small {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12.8px;
}

@media (max-width: 1239px) {
  .btn-white-n-alpha-small {
    font-weight: normal;
    font-size: 12.8px;
  }
}
.btn-application {
  width: fit-content;
  padding: 16px 40px 16px 40px;
  font-size: 12.8px;
  text-transform: none;
  text-decoration: none;
  background-color: #95390c;
  border: 0;
  border-radius: 2rem;
}

.btn-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 200px;
  min-width: 200px;
  height: 62px;
  margin-right: 1.5em;
  margin-bottom: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 12.8px;
  text-decoration: none;
  border: 0;
}
.btn-intro p {
  margin: 0;
  text-transform: uppercase;
}

.btn-red {
  background-color: #95390c;
}

.btn-purple {
  background-color: #5328a1;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}

@media (max-width: 1239px) {
  .horizontal-list {
    justify-content: space-around;
  }
}
@media (max-width: 415px) {
  .horizontal-list {
    justify-content: flex-start;
  }
}
.horizontal-list-item {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 50px;
}

.horizontal-list-adaptive-img {
  position: relative;
  width: 250px;
  height: 0;
  margin-bottom: 18px;
  padding-top: 100%;
}

.horizontal-list-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 649px) {
  .horizontal-list-item {
    width: 137px;
  }

  .horizontal-list-adaptive-img {
    width: 137px;
  }
}
.h2-base {
  width: 100%;
  margin: 0;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
}

.header-logo-block {
  display: flex;
  align-items: center;
  margin-right: 88px;
  font-weight: 700;
}
.header-logo-block .header-logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
}

.header-list {
  padding-inline-start: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-list-item {
  margin-top: 0;
  margin-right: 24px;
  margin-bottom: 0;
  list-style: none;
}
.header-list-item a {
  font-weight: bold;
  text-decoration: none;
}

.header-active-link {
  color: #fff;
}
.header-active-link:hover {
  color: #fff;
}
.header-active-link:visited {
  color: #fff;
}

.header-not-active-link {
  color: #cacaca;
}
.header-not-active-link:hover {
  color: #cacaca;
}
.header-not-active-link:visited {
  color: #cacaca;
}

.header-find-input {
  box-sizing: border-box;
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  height: 25px;
  padding: 0 10px;
  color: #757575;
  font-family: Arial, sans-serif;
  background-color: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

@media (max-width: 1239px) {
  .header {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 839px) {
  .header {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .header-nav {
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-list {
    flex-direction: column;
  }

  .header-list-item {
    margin-right: 0;
    padding-bottom: 3px;
  }

  .header-logo-block {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
.footer {
  margin-top: 100px;
  padding-top: 45px;
  color: #fff;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media (max-width: 1239px) {
  .footer {
    padding-top: 46px;
  }
}
.footer-columns {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 75px;
}

@media (max-width: 1239px) {
  .footer-columns {
    padding-bottom: 59px;
  }
}
.footer-columns-item {
  display: flex;
  flex: 1 1 270px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  margin-bottom: 0;
}
.footer-columns-item:nth-child(4) {
  margin-right: 0;
}

@media (max-width: 1239px) {
  .footer-columns-item {
    margin-right: 0;
    margin-bottom: 14px;
  }
}
.footer-main-title {
  margin: 16px 0 16px 0;
  font-size: 18px;
  line-height: 150%;
}

.footer-logoes {
  display: flex;
}

.footer-link, .footer-below-link, .footer-link-logoes-cont {
  margin-right: 44px;
  color: #e0e0e0;
  text-decoration: none;
}
.footer-link:hover, .footer-below-link:hover, .footer-link-logoes-cont:hover {
  color: #e0e0e0;
}
.footer-link:visited, .footer-below-link:visited, .footer-link-logoes-cont:visited {
  color: #e0e0e0;
}

@media (max-width: 415px) {
  .footer-link, .footer-below-link, .footer-link-logoes-cont {
    margin-right: 24px;
  }
}
.footer-link-logoes-cont {
  display: flex;
  align-items: flex-end;
  height: 24px;
  margin-right: 24px;
}

.footer-link-logoes {
  margin-bottom: 2px;
}

.footer-below {
  padding-top: 40px;
  padding-bottom: 32px;
  border-top: 1px solid #e0e0e0;
}

.footer-nav {
  display: flex;
}

@media (max-width: 649px) {
  .footer-nav {
    flex-direction: column;
  }
}
.footer-below-link {
  margin-right: 0;
  margin-bottom: 1em;
  padding-right: 15px;
}

.footer-replace-lineheight-1 {
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 100%;
}

.registration {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  color: #fff;
}

.registration-description {
  margin-top: 2em;
  text-align: center;
}

.registration-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
}

.registration-textfield {
  box-sizing: border-box;
  width: auto;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.registration-backgr-picture {
  background-position: center;
  background-size: cover;
  padding: 200px 0 200px 0;
  background-image: url("../images/banner.png");
}

@media (max-width: 1239px) {
  .registration {
    margin: 0;
    padding: 50px 20px 0 20px;
  }

  .registration-textfield {
    width: 100%;
  }

  .registration-description {
    margin-top: 1rem;
  }
}
.pricing-secondary-title {
  width: 100%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1239px) {
  .pricing-secondary-title {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.pricing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1239px) {
  .pricing-cards {
    justify-content: space-around;
  }
}
.pricing-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 367px;
  margin: 46px 0 0 0;
  padding: 21px 1.5rem 66px 1.5rem;
  border-radius: 1rem;
}

@media (max-width: 1239px) {
  .pricing-item {
    max-width: 374px;
    padding: 18px 1.5rem 66px 1.5rem;
  }
}
.pricing-value {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 36px;
}

@media (max-width: 1239px) {
  .pricing-value {
    margin-bottom: 40px;
  }
}
.pricing-number {
  height: 64px;
  margin: 0 16px 0 0;
  padding: 0;
  line-height: 1em;
}

.pricing-roubles {
  position: relative;
  top: 0;
  text-transform: uppercase;
}

.pricing-footer {
  margin: 64px 0 0 0;
  text-align: center;
}

.pricing-bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.pricing-bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.pricing-bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-ps {
  margin: 39px 0 0 0;
  text-align: center;
}

.news-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 17px;
}
.news-item:nth-child(2n-1) {
  flex-direction: row-reverse;
}
.news-item:last-child {
  margin-bottom: 0;
}

.news-img {
  width: auto;
  max-width: 575px;
  height: 100%;
  max-height: 287px;
  margin-top: 3rem;
}

.news-body {
  flex: 1 1 575px;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
  margin-top: 49px;
}

.news-name {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;
}

.news-footer {
  margin-top: 24px;
  margin-bottom: 0;
}

.news-footer-special {
  margin-top: 24px;
}

.news-author {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.news-avatar {
  width: auto;
  height: 19px;
  margin-right: 16px;
}

@media (max-width: 1239px) {
  .news-item {
    justify-content: space-around;
  }

  .news-img {
    max-width: 100%;
  }

  .news-name {
    margin-bottom: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 400;
    font-size: 16px;
  }

  .news-footer {
    margin-top: 23px;
    margin-bottom: 13px;
  }

  .news-footer-special {
    margin-top: 16px;
  }
}
@media (max-width: 415px) {
  .news-img {
    height: 186px;
  }
}
.application-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 48px;
}

.application-column {
  display: flex;
  flex: 1 1 600px;
  flex-direction: column;
  max-width: 600px;
}
.application-column:nth-of-type(2n-1) {
  align-items: center;
}
.application-column:nth-of-type(2n) {
  margin-top: 0;
}

.application-column-description {
  margin-top: 8px;
  margin-bottom: 8px;
}
.application-column-description:first-of-type {
  margin-top: 16px;
}
.application-column-description:last-of-type {
  margin-bottom: 16px;
}

.application-img {
  position: relative;
  left: 20px;
}

@media (max-width: 1239px) {
  .application-img {
    left: 0;
  }

  .application-content {
    justify-content: space-around;
  }
}
.intro-backgr {
  padding: 200px 0;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.intro-page-name {
  margin: 25px 0 0 0;
}

@media (min-width: 1240px) {
  .intro-page-name {
    margin: 50px 0 0 0;
  }
}
.intro-fans {
  margin-top: 1em;
  margin-bottom: 3em;
}

.intro-buttons-block {
  display: flex;
  flex-wrap: wrap;
}

.intro-button-icon {
  width: 20px;
  margin-right: 16px;
}

.popular-tracks-main-title {
  text-align: start;
}

@media (max-width: 1239px) {
  .popular-tracks-main-title {
    text-align: center;
  }
}
@media (max-width: 415px) {
  .popular-tracks-main-title {
    text-align: start;
  }
}
.popular-tracks-playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 23px;
}

@media (max-width: 1239px) {
  .popular-tracks-playlist {
    justify-content: space-around;
  }
}
@media (max-width: 415px) {
  .popular-tracks-playlist {
    justify-content: space-between;
  }
}
.popular-tracks-item {
  display: flex;
  flex: 0 1 550px;
  align-items: center;
  justify-content: space-between;
  max-width: 550px;
  margin-top: 25px;
  margin-right: 50px;
}

@media (max-width: 839px) {
  .popular-tracks-item {
    margin-right: 0;
  }
}
.popular-tracks-item-img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.popular-tracks-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-tracks-item-head {
  display: flex;
}

.diskography-main-title {
  text-align: start;
}

@media (max-width: 1239px) {
  .diskography-main-title {
    text-align: center;
  }
}
@media (max-width: 415px) {
  .diskography-main-title {
    text-align: start;
  }
}
.diskography-album-name {
  margin: 0;
}

@media (max-width: 1239px) {
  .diskography-album-name {
    width: 138px;
  }
}
.simular-artists-main-title {
  text-align: start;
}

@media (max-width: 1239px) {
  .simular-artists-main-title {
    text-align: center;
  }
}
@media (max-width: 415px) {
  .simular-artists-main-title {
    text-align: start;
  }
}
.simular-artists-name {
  width: 100%;
  margin: 0;
  text-align: center;
}

.simular-artists-fans {
  width: 100%;
  margin: 0;
  text-align: center;
}

.simular-artists-fans-description {
  display: inline;
  width: fit-content;
}

@media (max-width: 1239px) {
  .simular-artists-fans {
    font-size: 16px;
  }

  .simular-artists-fans-description {
    display: block;
    width: 100%;
  }
}
.margin-right-16 {
  margin-right: 16px;
}

.no-margin {
  margin: 0;
}

.color-orange {
  color: #f89202;
}

.color-primary {
  color: #fff;
}

.fill-white {
  fill: #fff;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.align-itm-start {
  align-items: flex-start;
}

.align-itm-center {
  align-items: center;
}

.padding-top-100 {
  padding-top: 100px;
}

.width-full {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
