.banner-artist {
  padding: 250px 0;
  background-image: url('../../../images/Morten\ Harket.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  min-height: 100vh;

  &__btn-list {
    margin-top: 48px;
    display: flex;
    gap: 24px;
  }

  &__btn {
    padding: 21px 31px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:hover::before {
      transform: translateX(0%);
    }
  }

  &__btn--mix {
    background-color: #5328A1;
  }

  &__btn--fav {
    background-color: #95390C;
  }

  &__btn--mix::before,
  &__btn--fav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__btn--mix::before {
    background-image: url(../images/play-button.svg);
    background-size: 20px;
  }

  &__btn--fav::before {
    background-image: url(../images/heart.svg);
    background-size: 20px 18px;
  }
}

@media (max-width: 414px) {
  .banner-artist {

    &__btn-list {
      flex-direction: column;
    }
  }
}