.banner-artist {
  padding: 250px 0;
  background-image: url('../../../images/Morten\ Harket.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  min-height: 100vh;

  &__btn-list {
    margin-top: 48px;
    display: flex;
    gap: 24px;
  }

  &__btn {
    padding: 21px 31px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__btn--mix {
    background-color: #5328A1;
  }

  &__btn--fav {
    background-color: #95390C;
  }

  &__btn--mix::before,
  &__btn--fav::before {
    display: inline-block;
    margin-right: 16px;

  }

  &__btn--mix::before {
    content: url(../images/play-button.svg);
    width: 20px;
    height: 20px;
  }

  &__btn--fav::before {
    content: url(../images/heart.svg);
    width: 20px;
    height: 18px;
  }
}

@media (max-width: 414px) {
  .banner-artist {

    &__btn-list {
      flex-direction: column;
    }
  }
}