* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

body {
  font-family: $font-main;
  color: #fff;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}