// Common
$font-main: 'Roboto', sans-serif;
$font-color-main: #cacaca;
$background-color-main: #08020d;

// h1
%font-settings-h1 {
  font-size: 60px;
  line-height: 90px;
}

// h2
%font-settings-h2 {
  font-size: 38px;
  line-height: 57px;
}

// h1
%font-settings-h1-mobile {
  @media (max-width: 576px) {
    font-size: 30px;
    line-height: 45px;
  }
}

// h2
%font-settings-h2-mobile {
  @media (max-width: 576px) {
    font-size: 18px;
    line-height: 27px;
  }
}