@import '../../variables';

.title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  &--big {
    @extend %font-settings-h1;
    @extend %font-settings-h1-mobile;
  }

  &--medium {
    @extend %font-settings-h2;
    @extend %font-settings-h2-mobile
  }

  &--left {
    text-align: left;
  }
}